@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  /* NUESTRA PALETA DE COLORES */
  --color-diled-50: #fffaec;
  --color-diled-100: #fff3d3;
  --color-diled-200: #ffe3a5;
  --color-diled-300: #ffce6d;
  --color-diled-400: #ffad32;
  --color-diled-500: #ff920a;
  --color-diled-600: #ff7a00;
  --color-diled-700: #cc5802;
  --color-diled-800: #a1440b;
  --color-diled-900: #823a0c;
  --color-diled-carrot: #e58f23;
  --color-diled-950: #461b04;
  --color-diled-gray: #3c3f4a;
  --color-diled-gray-50: #f0f3f7;
  /* ====================================================================== */

  /* BREAKPOINTS */
  /* ====================================================================== */
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  /* ====================================================================== */

  --animate-fade-up-35: fade-up-35 0.5s ease-out;

  @keyframes fade-up-35 {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 0.35;
      transform: translateY(0);
    }
  }
}
