<header class="flex justify-between items-center">
  <h1>Diled - Smart Home</h1>
  <nav>
    <ul class="flex gap-4">
      <li><a href="#">facebook</a></li>
      <li><a href="#">instagram</a></li>
    </ul>
  </nav>
</header>
